/* --------------------404---------------------- *//* --------------------404---------------------- *//* --------------------404---------------------- */
@import "https://fonts.googleapis.com/css?family=VT323";

.para {
  font: normal 20px/1.25rem "VT323", monospace;
}

.head1 {
  font: normal 2.75rem/1.05em "VT323", monospace;
}

.head2 {
  font: normal 2.25rem/1.25em "VT323", monospace;
}

.head3 {
  font: lighter 1.5rem/1.25em "VT323", monospace;
}

.links{
  font: lighter 1.25rem/1.25em "VT323", monospace;
  color: white;
}

body {
  background-color: rgb(240, 242, 247);
}

.container {
  width: 90%;
  margin: auto;
  max-width: 640px;
}

.bsod {
  padding-top: 10%;
}
.bsod .neg {
  text-align: center;
  color: #0414a7;
}
.bsod .neg .bg {
  background: #aaaaaa;
  padding: 0 15px 2px 13px;
}
.bsod .title {
  margin-bottom: 50px;
}
.bsod .nav {
  margin-top: 35px;
  text-align: center;
}
.bsod .nav .links {
  text-decoration: none;
  padding: 0 9px 2px 8px;
}
.bsod .nav .links:hover, .bsod .nav .links:focus {
  background: #aaaaaa;
  color: #0414a7;
}
/* --------------------404---------------------- *//* --------------------404---------------------- *//* --------------------404---------------------- */
/* --------------------catagory-cards---------------------- *//* --------------------catagory-cards---------------------- *//* --------------------catagory-cards---------------------- */
.catagory-card{
  position: relative;
  width: 100%;
  margin-top: 5%;
}

/* mobile-view */

/* mobile-view */
/* --------------------catagory-cards---------------------- *//* --------------------catagory-cards---------------------- *//* --------------------catagory-cards---------------------- */
/* --------------------cards---------------------- *//* --------------------cards---------------------- *//* --------------------cards---------------------- */
.cardholder{
  width: 25%;
  min-width: 400px;
  height: 300px;
  position: relative;
  display: inline-block;
}
/* .contentarea{
 min-height: '150px';
 max-height: '150px';
 overflow:'hidden'
} */
.btndiv{
  margin-top: 10px;
}
/* --------------------cards---------------------- *//* --------------------cards---------------------- *//* --------------------cards---------------------- */
/* --------------------rcnt-stry---------------------- *//* --------------------rcnt-stry---------------------- *//* --------------------rcnt-stry---------------------- */
.rcnt-stry{
  margin-top: 30px;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}
/* --------------------rcnt-stry---------------------- *//* --------------------rcnt-stry---------------------- *//* --------------------rcnt-stry---------------------- */
/* --------------------dashboard---------------------- *//* --------------------dashboard---------------------- *//* --------------------dashboard---------------------- */
.dashboard{
  margin-top: 5%;
  padding: 0;
  height: 100%;
  position: relative;
}
.left{
  position: absolute;
  height: 100%;
  width: 20%;
  background-color: rgb(240, 242, 247);
}
.right{
  left: 20%;
  position: absolute;
  min-height: 100vh;
  max-height: auto;
  width: 80%;
  background-color: rgb(255, 255, 255);
}
.welcome-div{
  text-align: center;
  margin: 20px;
}
.welcome{
  font-size: 30px;
  font-weight: 100px;
}
.nametag-div{
  text-align: center;
  margin: 15px;
}
.nametag{
  font-size: 20px;
  text-transform: uppercase;
  font-variant: small-caps;
}
.dashboard-btn-div{
  margin: 10px 10px;
}
.dashboard-btn{
  width: 100%;
}

/* mobile-view */
@media only screen and (max-width: 600px) {
  .dashboard{
    margin-top: 45%;
    padding: 0;
    height: 100%;
  }

  .welcome{
    font-size: 20px;
  font-weight: 100px;
  }
  
}

@media only screen and (min-width: 601px) {
  .dashboard{
    margin-top: 15%;
    padding: 0;
    height: 100%;
  }

  .welcome{
    font-size: 20px;
  font-weight: 100px;
  }
}

@media only screen and (min-width: 950px) {
  .dashboard{
    margin-top: 10%;
    padding: 0;
    height: 100%;
  }
  
}

@media only screen and (min-width: 1024px) {
  .dashboard{
    margin-top: 5%;
    padding: 0;
    height: 100%;
  }
}

/* mobile-view */
/* --------------------dashboard---------------------- *//* --------------------dashboard---------------------- *//* --------------------dashboard---------------------- */

/* --------------------language---------------------- *//* --------------------language---------------------- *//* --------------------language---------------------- */
.laguage-selection{
  height: 100vh;
  text-align: center;
}
.language-conent-area{
  padding-top: 15%;
}
.language-header{
  font-size: 30px;
  font-weight: 100;
  margin: 30px;
}
.language-div{
  margin: 30px;
}


/* --------------------language---------------------- *//* --------------------language---------------------- *//* --------------------language---------------------- */

/* --------------------modal---------------------- *//* --------------------modal---------------------- *//* --------------------modal---------------------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
/* --------------------modal---------------------- *//* --------------------modal---------------------- *//* --------------------modal---------------------- */

/* --------------------navbar---------------------- *//* --------------------navbar---------------------- *//* --------------------navbar---------------------- */
.navbar{
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
}
.appbar{
  position: relative;
}
.brand{
  margin: 0.5rem;
  padding: 10px;
  text-align: center;
  width: 10%;
}
.brand-name{
  color: white;
  font-size: 30px;
}
.search{
  margin-left: 1rem;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.3);
}
.search:hover{
  background-color: rgba(255, 255, 255, 0.6);
}
.searchicon{
  margin: 0.5rem;
}
.searchbar, .searchform{
  width: 50%;
}
.searchbtn{
  float: right;
  color: white;
}
.sectionDesktop{
  width: 40%;
}
.right-part{
  float: right;
}

.lang-selection{
  /* height: 100vh;
  text-align: center; */
  /* border: 2px solid red; */
  float: left;
  margin-top: 15px;
  margin-right: 15px;
}
.lang-conent-area{
  /* padding-top: 15%; */
}
.lang-header{
  /* font-size: 30px;
  font-weight: 100;
  margin: 30px; */
}
.lang-div{
  /* margin: 30px; */
}

/* mobile-view */
@media only screen and (max-width: 600px) {
  .appbar{
    height: 200px;
  }
  .brand{
    text-align: center;
    margin: 0;
    width: 90%;
    position: absolute;
    display: block;
  }
  .brand-name{
    font-size: 30px;
  }
  .search{
    width: 90%;
    position: absolute;
    margin-left: 0;
    top: 100%;
  }

  .sectionDesktop{
    width: 90%;
    position: absolute;
    margin: 0;
    top: 200%;
  }

  .right-part{
    width: 100%;
  }

  .home-btn, .explore-btn{
    float: left;
  }
  .story-btn{
    float: right ;
    margin-top: 10px;
  }
}
/* mobile-view */
/* --------------------navbar---------------------- *//* --------------------navbar---------------------- *//* --------------------navbar---------------------- */

/* --------------------postlist---------------------- *//* --------------------postlist---------------------- *//* --------------------postlist---------------------- */
.postlist-area{
  border: 2px solid white;
  background-color: white !important;
  margin-top: 0%;
  position: relative;
  display: block;
}
.main_div{
 margin-top: 5%;  
}
.rcnt_stry{
  text-align: center;
  margin-top: 20px;
}

.cards{
  position: relative;
  display: inline-block;
  left: 10px;
  margin: 20px 50px;
}

.browse_all{
  text-align: center;
}

/* mobile-view */
@media only screen and (max-width: 600px) {
  .postlist-area{
    border: 2px solid transparent;
    background-color: white !important;
    margin-top: 0%;
    position: relative;
    display: block;
  }

  .rcnt_stry{
   display: none;
  }
}
/* mobile-view */
/* --------------------postlist---------------------- *//* --------------------postlist---------------------- *//* --------------------postlist---------------------- */

/* --------------------login/signup---------------------- *//* --------------------login/signup---------------------- *//* --------------------login/signup---------------------- */
.form {
  width: 100%;
  margin-top: 1em;
}
.paper {
margin-top: 8px;
display: flex;
flex-direction: column;
align-items: center;
}
.avatar {
margin: 1em;
background-color:#e54136 !important; 
}

.submit {
margin: 3em 0 2em;
}
/* --------------------login/signup---------------------- *//* --------------------login/signup---------------------- *//* --------------------login/signup---------------------- */